nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
  }
  
  nav ul, footer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0%;
    width: 70%;
  }
  
  nav ul li, footer ul li{
    text-align: center;
    width: 100%;
  }
  
  nav ul li a{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: underline;
    color: black;
  }
  
  #divBusca{
    background-color:#2f4f4f00;
    border:solid 1px;
    border-radius:15px;
    width:300px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:240px;
  }

  #produtos1, #produtos3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1000px;
    padding: 30px;
    margin: 0 auto;
  }

  #produtos2, #produtos4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1000px;
    padding: 30px;
    margin: 0 auto;
    background-color: rgba(245, 145, 109, 0.945);
  }
  
  #produtos1 div, #produtos2 div, #produtos3 div, #produtos4 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    flex-grow: 1;
    flex-basis: 150px;
    padding: 0 10px;
  }

  #produtos1 div img, #produtos2 div img, #produtos3 div img, #produtos4 div img{
    width: 150px;
    height: 150px;
    border: 2px solid rgba(245, 145, 109, 0.945);
  }

  .botao{
    color: rgba(245, 145, 109, 0.945);
    text-decoration: none;
    background-color: transparent;
    border:solid 1px rgba(245, 145, 109, 0.945);
    border-radius:15px;
    width: 140px;
    height: 12px;
    padding: 10px 30px;
    font-size: .9em;
    margin-top: 8px;
    text-align: center;
  }

  .botao2{
    color: red;
    text-decoration: none;
    background-color: white;
    border:solid 1px red;
    border-radius:15px;
    width: 160px;
    height: 12px;
    padding: 10px 30px;
    font-size: .9em;
    margin-top: 8px;
    text-align: center;
  }

  footer{  
    margin-top: 60px;
    justify-content: space-around;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: red;
  }
  
  footer > a {
    text-decoration: none;
    color: white;
    font-weight: 800;
  }
  
  footer ul li a{
    font-size: 15px;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: underline;
    color: white;
    align-items: center;
  }
  
  footer a img {
    height: 30px;
    width: 30px;
    margin-left: 20px;
  }